@media screen and (max-width: 1280px) {
  .desktop_nav {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  .desktop_nav {
    display: block;
    margin-top: 20px;
  }
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
@media only screen and (min-width: 1280px) {
  .link {
    text-decoration: none;
    color: #fff;
    margin-right: 60px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    z-index: 122;
  }
}
