@media screen and (max-width: 787px) {
  .header_section {
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 34px;
    background-color: #060a1c;
  }
}
@media screen and (min-width: 1280px) {
  .header_section {
    padding-top: 20px;
    padding-left: 64px;
    padding-right: 64px;
    padding-bottom: 36px;
    background-color: #060a1c;
    position: relative;
    z-index: -5;
  }
}
.header_thumb {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1280px) {
  .header_thumb {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .header_icons_thumb {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1280px) {
  .mobileMenuIcon {
    display: none;
  }
}
@media screen and (max-width: 787px) {
  .locale_thumb {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .locale_thumb {
    display: flex;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1280px) {
  .locale {
    margin-right: 40px;
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
@media screen and (min-width: 1280px) {
  .header_register_btn {
    padding: 16px 48px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: linear-gradient(
      96deg,
      #2da1e1 -12.07%,
      #024bb1 47.78%,
      #4720d3 104.01%
    );
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
  .mobileMenuIcon {
    position: absolute;
    left: 86%;
    top: 8%;
  }
}
@media screen and (max-width: 767px) {
  .mobileMenuIcon {
    position: absolute;
    left: 86%;
    top: 8%;
  }
}
@media screen and (max-width: 767px) {
  .robotics_logo {
    width: 111px;
    height: 37px;
  }
}

@media screen and (max-width: 767px) {
  .mobile_menu_thumb {
    background: #060a1c;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .mobile_menu_thumb {
    display: none;
  }
}
